body {
  background-color: grey;
}

h1 {
  color: red;
  text-align: center;
  background-size: 100%;
  padding: 5vh;
  animation-name: color-change;
  -moz-animation-name: color-change;
  -webkit-animation-name: color-change;
  animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
  animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  font-family: 'Press Start 2P', cursive;
}

@keyframes color-change {
  0% {
    background-color: white;
  }
  50% {
    background-color: black;
  }
  100% {
    background-color: white;
  }
}


#intro {
    width: 60vw;
    height: 30vh;
    margin-left: 20vw;
}

#microsoft #image {
    width: 96vw;
    height: 75vh;
    background-color: white;
}

#microsoft p {
    position: absolute;
    left: 0;
    right: 0;
    top: -2vh;
    bottom: 0;
    padding-top: 35vh;
    padding-bottom: 0;
    color: white;
    background-color: rgba(169, 169, 169, 0.7);
    font-family: 'Press Start 2P', Cursive;
    width: 100%;
    height: 40vh;
    opacity: 0;
    text-align: center;
    transition-duration: 1s;
    display: block;
}

#microsoft p:hover {
    opacity: 1;
    box-shadow: 0 0 1vh black;
}

#microsoft {
    position: relative;
}

#sony #image2 {
    width: 96vw;
    height: 75vh;
    background-color: white;
}

#sony p {
    position: absolute;
    left: 0;
    right: 0;
    top: -2vh;
    bottom: 0;
    padding-top: 37vh;
    padding-bottom: 0;
    color: white;
    background-color: rgba(169, 169, 169, 0.7);
    font-family: 'Press Start 2P', Cursive;
    width: 100%;
    height: 38vh;
    opacity: 0;
    text-align: center;
    transition-duration: 1s;
    display: block;
}

#sony p:hover {
    opacity: 1;
    box-shadow: 0 0 1vh black;
}

#sony {
    position: relative;
}

#nintendo {
    position: relative;
}

#nintendo #image3 {
    width: 96vw;
    height: 75vh;
    background-color: white;
}

#nintendo p {
    position: absolute;
    left: 0;
    right: 0;
    top: -2vh;
    bottom: 0;
    padding-top: 40vh;
    padding-bottom: 0;
    color: white;
    background-color: rgba(169, 169, 169, 0.7);
    font-family: 'Press Start 2P', Cursive;
    width: 100%;
    height: 35vh;
    opacity: 0;
    text-align: center;
    transition-duration: 1s;
    display: block;
}

#nintendo p:hover {
    opacity: 1;
    box-shadow: 0 0 1vh black;
}